<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cortex</title>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li>
                <img class="logo" src="/images/logo.svg" alt="Logo" />
            </li>
            <li class="navbar-heading">
                <a href="/" class="fs-1">Cortex</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="fs-4">Account</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="fs-4">Log out</a>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <ul class="menu">
            <li class="menu-item">
                <a class="fs-4" asp-controller="Networks" asp-action="CreateNetwork">
                    <i class="fa fa-plus"></i>
                    Create network
                </a>
            </li>
            <li class="menu-item">
                <a class="fs-4" asp-controller="Networks" asp-action="GetOwnNetworks">
                    <i class="fa fa-user"></i>
                    Your networks
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="fs-4">
                    <i class="fa fa-users"></i>
                    Shared with you
                </a>
            </li>
        </ul>
        <div class="body">
            @RenderBody()
        </div>
    </div>

    <environment include="Development">
        <script src="~/dist/bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/bundle.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
