<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cortex</title>
</head>
<body class="log-in-body">
    <div class="log-in-container">
        <div class="back-link">
            <a asp-controller="Main" asp-action="Index">
                <i class="fa fa-chevron-left fa-10x"></i>
                Back to Home
            </a>
        </div>

        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/dist/bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/bundle.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
