@import "~getbase/less/base";

@import "constants.less";

body {
    background-color: @background-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: default;
}

.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    list-style-type: none;
    background-color: @primary-color;
    color: @light-text-color;
    cursor: default;

    li {
        margin-bottom: 0;
    }

    .navbar-heading + .navbar-item {
        margin-left: auto;
    }

    .navbar-heading,
    .navbar-item {
        margin: 0 10px;

        a,
        .button-link {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .navbar-heading a:hover {
        text-decoration: none;
    }
}

.logo {
    height: 40px;
    vertical-align: middle;
}

.main-container {
    flex-grow: 1;
    display: flex;

    .body {
        flex-grow: 1;
        overflow-y: auto;
        padding: 30px;

        & > * {
            color: @text-color;
        }
    }
}

.menu {
    flex: 0 0 250px;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    background-color: @dark-background-color;

    .menu-item {
        &:hover {
            background-color: #616161;
        }

        a {
            display: block;
            padding: 10px 30px;
            color: @light-text-color;
            text-decoration: none;
        }

        i {
            width: 30px;
        }
    }
}

// General styles
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    &:focus {
        border-color: @primary-color;
    }

    &.invalid {
        border-color: #F44336;
        background-color: #FFCDD2;
    }
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.button-primary {
    .button();

    background-color: @primary-color;
    border-color: @primary-color;
    color: @light-text-color;

    &:hover {
        background-color: @light-primary-color;
        border-color: @light-primary-color;
    }

    &:disabled {
        background-color: @disabled-color;
        border-color: @disabled-color;
    }
}

// Forms
.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;

    > button,
    .buttons-section {
        margin-top: 10px;
        align-self: flex-end;

        > :not(:last-child) {
            margin-right: 10px;
        }
    }
}

.form-row {
    display: flex;
    align-items: center;
    margin: 10px 0;

    @label-flex: 0 0 100px;

    label {
        flex: @label-flex;
    }

    .top-label {
        flex: @label-flex;
        align-self: flex-start;
    }

    input,
    textarea {
        flex-grow: 1;
    }

    textarea {
        resize: vertical;
        min-height: 50px;
        max-height: 300px;
    }
}

.plain-form-row {
    display: flex;
    align-items: center;
    margin: 10px 0;

    > :not(:last-child) {
        margin-right: 5px;
    }
}