@*
    Cortex - web application for creating and managing neural networks diagrams.
    Copyright (C) 2018  Andrii Zaiev <andrii.zaiev@gmail.com>
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@


@model Cortex.Web.Models.Account.LogInModel

@{
    ViewData["Title"] = "Log In";
    Layout = "LogInLayout";
}

<h2>Log In</h2>

<form class="form"
      method="post"
      data-validate=""
      asp-controller="Account"
      asp-action="LogIn"
      asp-route-returnUrl="@ViewData["ReturnUrl"]">
    @Html.AntiForgeryToken()

    <div class="form-row">
        <label asp-for="UserName"></label>
        <input required="" maxlength="30" asp-for="UserName" />
    </div>
    <div class="form-row">
        <label asp-for="Password"></label>
        <input required="" maxlength="200" asp-for="Password" />
    </div>
    <div class="plain-form-row">
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>
    </div>

    <div class="buttons-section">
        <a asp-controller="Account" asp-action="Register">Go to Register</a>
        <button type="submit" class="button-primary">Log In</button>
    </div>
</form>
