@using Cortex.Auth
@{
    ViewBag.Title = "Home";
    ViewBag.IsLanding = !User.Identity.IsAuthenticated;
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Recent</h2>
    <div>
        @await Component.InvokeAsync("RecentNetworks", new { userId = User.GetId() })
    </div>
}
else
{
    <div class="landing">
        <div class="landing-shadow">
            <div class="landing-content">
                <div class="landing-description">
                    <h1>
                        Created for data scientists
                    </h1>
                    <h3>
                        Cortex is a neural networks diagrams editor. From researches to business, you can create and version diagrams,
                        manage neural network projects, and push data science forward alongside with other enthusiasts.
                    </h3>
                </div>
                <div class="landing-registration">
                    @await Component.InvokeAsync("Registration")
                </div>
            </div>
        </div>
    </div>
}