@using Cortex.Auth
@{
    ViewBag.Title = "Home";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Recent</h2>
    <div>
        @await Component.InvokeAsync("RecentNetworks", new { userId = User.GetId() })
    </div>
}