@*
    Cortex - web application for creating and managing neural networks diagrams.
    Copyright (C) 2018  Andrii Zaiev <andrii.zaiev@gmail.com>
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@


@model Cortex.Web.Models.NetworkVersions.NewNetworkVersionModel

@{
    ViewBag.Title = "New version of " + Model.NetworkName;
}

<div class="heading">
    <span class="fs-2">@Model.NetworkName</span>
</div>

<div id="network-editor"
     data-network-id="@Model.NetworkId"
     data-version-id="@Model.CurrentVersionId"
     data-is-read-only="false"
     data-is-edit="true"></div>
