@using Cortex.Web.Models
@model NewNetworkModel

@{
    ViewBag.Title = "New Network";
}

<h2>New network</h2>

<form class="form" method="post" asp-controller="Networks" asp-action="CreateNetwork">
    <div class="form-row">
        <label asp-for="Name"></label>
        <input id="name-input" required="" maxlength="100" asp-for="Name" />
    </div>
    <div class="form-row">
        <label asp-for="Description"></label>
        <textarea id="description-input" rows="5" maxlength="6000" asp-for="Description"></textarea>
    </div>
    <button type="submit" class="button-primary">Save</button>
</form>