@*
    Cortex - web application for creating and managing neural networks diagrams.
    Copyright (C) 2018  Andrii Zaiev <andrii.zaiev@gmail.com>
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@


@using Cortex.Web.Models.Networks
@model NewNetworkModel

@{
    ViewBag.Title = "New Network";
}

<h2>New network</h2>

<form class="form" method="post" data-validate="" asp-controller="Networks" asp-action="CreateNetwork">
    <div class="form-row">
        <label asp-for="Name"></label>
        <input id="name-input" required="" maxlength="100" asp-for="Name" />
    </div>
    <div class="form-row">
        <label class="top-label" asp-for="Description"></label>
        <textarea id="description-input" rows="5" maxlength="6000" asp-for="Description"></textarea>
    </div>
    <button type="submit" class="button-primary">Save</button>
</form>
